{% extends "base.html" %}

{% block title %}Custom Player - Spotify Screensaver{% endblock %}

{% block extra_css %}
<style>
    .player {
        background-image: url('{{ background_image }}');
        background-size: cover;
        background-position: center;
        padding: 20px;
        border-radius: 10px;
        max-width: 300px;
        margin: 0 auto;
    }
    .album-art {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        border-radius: 5px;
    }
    .track-info {
        text-align: center;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="player">
        <img src="{{ album_image }}" alt="Album Art" class="album-art">
        <div class="track-info">
            <h2>{{ track.name }}</h2>
            <p>{{ track.artist }}</p>
        </div>
    </div>
{% endblock %}